/* Dimensioni da utilizzare
1440x1100
878x1095
639x1095
522x1095

1398x221 QUANDO VIENE SCHIACCIATO
*/

/* Si parte da Desktop first 1440x1100 */
/* * General //////////////////////////////////////////////////////////////////////////////////*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 650;
}

ul{
  list-style: none;
}

li{

}

a{
  text-decoration: none;
}

hr{
  border-width:0;
  border-bottom: #6F6F6F 0.1rem solid;
}

.d-flex{
  display: flex;
}


/* * utility //////////////////////////////////////////////////////////////////////////////////*/
.debug{
  border: 1px dashed #c8ff2f;
}

.debug_b{
  border: 1px dashed #c8ff2f;
}










.header-main-container{
  /* ! 90px è l'altezza footer */
  height: calc(100vh - 100px);
  /* ! aggiunge la scrollbar - non spacca il layout*/
  overflow: auto;
}





/* * HEADER ////////////////////////////////////////////////////////////////////////////////// */
header{
  height: 100px;
  /* height: 64px; */
  background-color: #080B12;

  position: relative;
  /* position: fixed;
  top:0; */
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.upgrade{
  height: 50px;
  width: 215px;
  background-color: #080B12;
  color: white;
  border: 1px white solid;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;

}
















/* * MAIN ////////////////////////////////////////////////////////////////////////////////// */
main{
  background-color: #141922;


}

.container_main {
  margin-left: 240px;
  font-size: 1.3rem;
  padding: 0px 10px;
}

/* * barra di navigazione main ___________________________________________________________________*/

.nav-container-main{
}

.nav-container-main ul{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container-main a{
  color: #6F6F6F;
  padding: 10px;
  font-size: 0.9rem;
}










/* * SIDEBAR /////////////////////////////////////////////////////////////////////////////////////////////////// */

.sidenav {
  height: 100%;
  padding-bottom: 110px; 
  /* OPPURE */
  /* ! 100px è l'altezza footer */
  /* height: calc(100vh - 100px); */
  width: 240px;
  overflow-y: hidden;

  /* si posiziona in alto a sinistra (anche sopra all'header) */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */ /** in questo caso non è necessario in quanto container-sidenav-up ha height 100% */
  
  background-color: #000000;
  overflow-x: hidden;

  /* flex-shrink: 0; */ /* in questo caso non è necessario*/
}

.sidenav *{
  padding: 0 0 5px 4px;
}

.sidenav img{
  height: 86px;
  max-width: 154px;
  width: 100%;
  margin: 10px 0 0 15px;
  /* display: flex;
  flex-shrink: 0; */
  /* padding-left: 10px; */
  /* margin-bottom: 10px; */

}

.sidenav h3, .sidenav a {
  color: white;
  margin-left: 10px;
}


.explore li a, .playlist a:first-child{
  font-size: 1rem;
}

.playlist-names{
  /* * 520px è la somma del footer + container-sidenav-down + (container-sidenav-up - playlist-names)  */
  height: calc(100vh - 520px);
  /* ! aggiunge la scrollbar - non spacca il layout*/
  overflow: auto;
}

.sidenav .fa-solid {
padding-left: 0;
padding-right: 5px;
}

.sidenav .explore .fa-solid {
  font-size: 1.5rem;
}

.fa-square-plus{
  font-size: 2.5rem;
  vertical-align: middle;
}

.sidenav a {
  text-decoration: none;
  display: block;
  color: #6F6F6F;
  font-size: 0.6rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container-sidenav-up{
  height: 100%;
  /* min-height: 450px; */
  min-height: 330px; /* ! IMPORTANTE QUANDO SI VA A RIDURRE L'ALTEZZA */
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.container-sidenav-down{
  min-height: 110px;
  padding: 0;
  margin: 0;
  background-color: #000000;
}

.container-sidenav-down div:last-child{
  font-size: 1.17em;
  font-weight: bold;
  color: white;

}

.container-sidenav-down hr{
  margin: 0 18px 20px 18px;
}

.fa-circle-user{
  font-size: 2.5rem;
  vertical-align: middle;
  background-color: #6F6F6F;
  color: white;
  border-radius: 50px;
  padding: 0;
  margin-left: 15px;
}

.mobile-app a{
  font-size: 1rem;

}

.name-profile{
  margin-left: 5px;

}






/* * FOOTER ////////////////////////////////////////////////////////////////////////////////// */
footer{
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 2;


  background-color: #282828;
}


















/* * RESPONSIVE *************************************************************************************************************************** */
@media screen and (max-width: 878px) {

}












@media screen and (max-width: 639px) {

}








@media screen and (max-width: 522px) {

}











































































































































































